<!DOCTYPE html>
<html>
<head>
	<title>Ad Event</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="../">Aptaris</a>
	    </div>
	  </div>
	</nav>

	<div id="myModal" class="modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title">Message</h4>
	      </div>
	      <div class="modal-body">
	        <p id="msgModal"></p>
	      </div>
	      <div class="modal-footer">
	        <button id="modalButton" type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
    					<h3 class="panel-title">Ad Event Registration</h3>
  					</div>
					<div class="panel-body">
						<form  action="../controller/ad_event_controller.php" method="post"
							onsubmit="return validate()" class="form-horizontal">
							<fieldset>
								<div class="form-group">
									<label class="col-lg-4 control-label">Ad Event Number</label>
									<div class="col-lg-6">
										<input type="text" name="event_code" id="event_code" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label">Event Name</label>
									<div class="col-lg-6">
										<input type="text" name="event_name" id="event_name" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label">Start Date</label>
									<div class="col-lg-6">
										<input type="text" placeholder="YYYY-MM-DD" name="start_date" id="start_date" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label">End Date</label>
									<div class="col-lg-6">
										<input type="text" placeholder="YYYY-MM-DD" name="end_date" id="end_date" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label">Ad Description</label>
									<div class="col-lg-6">
										<input type="text_area" name="ad_description" id="ad_description" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label">Ad Type</label>
									<div class="col-lg-6">
										<input type="text" name="ad_type" id="ad_type" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-default"  onclick="return clearAll();">Clear</button>
									</div>
								</div>
							</fieldset>
						</form>
						<h4 id="headErrMsg"></h4>
						<ul id="errMsg"></ul>
					</div>
				</div>
			<!--col div-->
			</div>
		<!--row div -->
		</div>
	<!--container div -->	
	</div>

	<script type="text/javascript" src="./js/ad_event_validate.js">
	</script>
	
	<footer>
		<img src="images/wi.png" alt="Web App Dev logo" height="45" width="45" align="right">
	</footer>
</body>
</html>