<html>
<head>
	<title>Search Item</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	    
    <script type="text/javascript" src="./js/jquery-2.1.4.js">
    </script>
</head>
<body onload="retrieveCategory(); retrieveDepartment(); retrieveResult();">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="../">Aptaris</a>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
    					<h3 class="panel-title">Search Item</h3>
  					</div>
					<div class="panel-body">
                        <form action="../controller/select_items_promotion_controller.php" method="post" class="form-horizontal"
                                onsubmit="return validate()">
								<div class="form-group">
									<label class="col-lg-4 control-label">Item Number</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="item_number" id="item_number" onkeyup="retrieveResult()" class="form-control">
                                    </div>
								</div>
								<div class="form-group">
                                    <label class="col-lg-4 control-label">Item Description</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="item_desc" id="item_desc" onkeyup="retrieveResult()" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
									<label class="col-lg-4 control-label">Category</label>
									<div class="col-lg-6">
										<div id="categoryDropDown"></div>
									</div>
								</div>
									<div id="other_text_box"></div>
								<div class="form-group">
									<label class="col-lg-4 control-label">Department Name</label>
									<div class="col-lg-6">
										<div id="deptDropDown"></div>
									</div>
								</div>
							<h3>Result:</h3>
							<div id="resultTable"></div>
						</form>
					<!-- panel body -->
					</div>
				<!-- panel default div -->
				</div>
			<!-- col div -->
			</div>
			<div class="col-md-2">
                <h4 id="headErrMsg"></h4>
                <ul id="errMsg"></ul>
            </div>

		<!-- row div -->
		</div>
		
		<footer>
			<img src="images/wi.png" alt="Web App Dev logo" height="45" width="45" align="right">
		</footer>
	<!-- container div -->
	</div>

	<script type="text/javascript" src="./js/biggest_savings_report.js">
	</script>
</body>
</html>
