<html>
<head>
	<title>Item Display</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<script type="text/javascript" src="./js/jquery-2.1.4.js">
	</script>
</head>
<body onload="retrieveResult(); retrievePromotion();">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="../">Aptaris</a>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<table class="table table-striped" align="center" >
						<tr>
							<td><b>Item Number</b></td><td id="item_number"></td>
						</tr>
						<tr>
							<td><b>Item Description</b></td><td id="item_desc"></td>
						</tr>
						<tr>
							<td><b>Category</b></td><td id="category"></td>
						</tr>
						<tr>
							<td><b>Department Name</b></td><td id="dept_name"></td>
						</tr>
						<tr>
							<td><b>Purchase Cost</b></td><td id="purchase_cost"></td>
						</tr>
						<tr>
							<td><b>Full Retail Price</b></td><td id="full_retail_price"></td>
						</tr>
					</table>
				</div>
				<!--col div-->
			</div>
		<!--row div-->
		</div>
		<h3>Result</h3>
		<div id="resultTable"></div>
		<footer>
			<img src="images/wi.png" alt="Web App Dev logo" height="45" width="45" align="right">
		</footer>
	<!--container div-->
	</div>

	<script type="text/javascript" src="js/view_biggest_savings.js"></script>

</body>
</html>